.hero-image .img-fluid {
    max-width: 500px;
    max-height: 500px;
}

.project-wrapper img {
    max-height: 595px;
}

.owl-carousel .item img {
    border-radius: 30px;
    border-style: solid;
    border-color: #edebd9;
    border-width: 5px;
}

.contact-image {
    margin-right: 3em;
}

.contact-image img {
    border-radius: 30px;
}