#header-title h1{
    margin-top: 50px;
}

.full-image img{
    max-width: 45%;
    height: auto;
}

.indentPhoto{
    max-width: 100%;
    height: auto;
}

.YouTube{
    margin: auto;
    max-width: 70%;
    height: auto;
}
.teamPhoto-container{
    padding-top: 60px;
}

#teamPhoto{
    border-radius: 30px;

}