/* #about-container {
    max-width: 80%;
} */

.red-header {
    color: #8F1D3E;
}

#service-communication {
    border-top: 6px solid #FEC63A;
}

#service-design {
    border-top: 6px solid #EA4037;
}

#service-development {
    border-top: 6px solid #F38C2F;
}

h2 {
    color: #8F1D3E;
    font-weight: 900;
}

.text-primary {
    color: #8F1D3E;
}

#about-section {
    margin-top: 150px;
}

.nc-text p {
    font-style: normal;
}

.vcard-text span {
    font-weight: 900;
}