/* #about-container {
    max-width: 80%;
} */

#nml-fs {
    color: #8F1D3E;
}

#view-our-work {
    background-color: #8F1D3E;
    color: white;
}

.red-header {
    color: #8F1D3E;
}

#service-communication {
    border-top: 2px solid #FEC63A;
}

#service-design {
    border-top: 2px solid #EA4037;
}

#service-development {
    border-top: 2px solid #F38C2F;
}